.heading{
    display:flex;
    flex-direction: row;
    width: 100vw;
    height:fit-content;
    padding: "2rem 1rem";
    background-color: white;
    opacity: 0.1;
}
.logo{
    width:"20%";
}
.lefticons{
    width: "80%";
    display: flex;
    justify-content: flex-end;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}
button{
    padding:"2rem 1rem";
    border: 1px solid white;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}