.heading{
    display:flex;
    flex-direction: row;
    width: 100vw;
    height:fit-content;
    padding: 1rem 0rem;
    /* background-color: black; */
    align-items: center;
    z-index: 2;
    position: sticky;
    /* opacity: 0.1; */
}
.logo{
    width:20%;
    margin: 0rem 1rem;
}
.lefticons{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin: 0;
    margin: 0rem 1rem;
}
.sign_button{
    padding:0.3rem 1rem;
    border: 1px solid white;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: white;
    margin: 0rem 1rem;
}