.section1{
    background: url('../assets/images/section1.png') no-repeat center center / cover;
    width: 100%;
    display: flex;
    height: 95vh;
    position: absolute;
    top:0rem;
    align-items: flex-end;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 3rem;
}
.events{
    display: flex;
}
h1{
    margin: 0.3rem 0rem;
    padding: 0;
}
.texts{
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    font-weight: 700;
    font-size: 24px;
    padding: 0rem 2rem;
}
.section_button{
    padding:2rem 1rem;
    background-color: #D23838;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 1rem 5rem;
    border: none;
    margin: 1rem 0rem;
    font-size: 16px;
}

@media screen and (max-width:400px) {
    .texts{
        align-items: center;
        text-align: center;
    }
}