.our_vision_container
{
    display: flex;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    padding: 2rem 2rem;
    height: fit-content;
    justify-content: space-between;
}
.our_vision_container p{
    color:white;
    word-wrap: break-word;
    font-size: 20px;
    /* font-weight: 700; */
}
.our_vision_container button{
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: white;
    border: none;
    color: black;
}
.texts_vision{
    width: 50%;
    padding-left: 2rem;
}
.vision_illustrator{
    width: 20rem;
    background-image: url('../assets/images/illustration_vision.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    /* margin-left: 10rem; */
}

@media screen and (max-width:800px){
    .our_vision_container{
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .our_vision_container p{
        font-size: 18px;
    }
    .texts_vision{
        /* flex-direction: column; */
        text-align: center;
        width: 90%;
        
    }
    .vision_illustrator{
        margin-left: 0rem;
        width: 100%;
        height: 20rem;
    }
}

