.section2{
    position:relative;
    max-width: 100%;
    height: fit-content;
    background-color: white;
    padding: 30px;
    /* position: relative; */
}
.cards{
    display: flex;
    overflow-x: scroll;
    align-items: stretch;
    width: 100%;
}
.cards::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@media screen and (max-width:500px) {
    .cards{
        flex-direction: column;
        overflow: hidden;
    }
    .section2{
        text-align: center;
    }
}